<div class="text-center">
	<h1 class="text-center blog-text">Blog一覧</h1>
	<div class="photo-text2">
		<h4 class="text-center blog-text">(新着順)</h4>
	</div>
</div>
<div class="blog">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'search', blogs: @blogs%>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-7">
			<%= render 'index', blogs: @blogs%>
		</div>
	</div>
</div>
<%= paginate @blogs %>
