<h1 class="text-center">Blog一覧</h1>
<div class="container">
	<div class="row">
		<div class="col-lg-5">
		</div>
		<div class="col-lg-6">
			<% @blogs.each do |blog| %>
				<%= link_to blog_path(blog) do %>
					<%= attachment_image_tag blog, :image, size: "190x150" %>
				<% end %>
				<p>
					<%= blog.title %>
				</p>
				<p>
					<%= blog.body %>
				</p>
			<% end %>
		</div>
	</div>
</div>