<div class="container">
	<div class="row">
		<div class="about">
			<div class="about-box2">
				<div class="mini">
					<h2 class="text-center">~サイト概要~</h2>
					<p class="text-center about-text">
						このサイトは、犬を飼っている方や犬が好きな方、
					</p>
					<p class="text-center">
						これから犬を買おうとしている人などに向け	情報共有サイトとなっております！
					</p>
					<p class="text-center">
						自分の家族でもある犬の貴重な一瞬を記録し、共有しませんか？
					</p>
					</p>
				</div>
				<div class="about-img">
						<%= attachment_image_tag @random[0], :image,size: "585x280" %>
				</div>
			</div>
			<div class="about-box3">
				<div class="mini2">
						<%= attachment_image_tag @random[1], :image,size: "585x280" %>
				</div>
				<div class="about-img2">
					<h2 class="text-center about-tx">~ブログと画像投稿~</h2>
					<p class="text-center about-text2">																			犬との生活で可愛い一面、何気ない日常など、
					</p>
					<p class="text-center">
						そして悩みや、他の飼い主さんや犬が好きな方に共有したいことをブログに
					</p>
					<p class="text-center">
						犬の一瞬を切り取ったベストショットを画像投稿へ
					</p>
				</div>
			</div>
			<div class="about-box4">
				<div class="mini3">
					<h2 class="text-center about-tx">~犬が家族の一員になるということ~</h2>
					<p class="text-center about-text2">
						犬を家族に迎えた人の中には、人生が大きく変わったという人もいます
					</p>
					<p class="text-center">
						「人生のどん底にいた自分をこのコは救ってくれた」「このコは大切なパートナー！」と、
					</p>
					<p class="text-center">
					犬がいない人生は考えられないとまで言う人も少なくありません。
					</p>
					<p class="text-center">
					犬がそこまで愛されるのはどうしてなのでしょうか？
					</p>
					<p class="text-center">
						このサイトを通じて犬との生活をより良いものへ
					</p>
				</div>
				<div class="about-img3">
					<%= attachment_image_tag @random[2], :image,size: "585x280" %>
				</div>
			</div>
		</div>
	</div>
</div>
