<div class="container">
	<div class="text-center">
		<h1 class="text-center" id="photo-text">Photo一覧</h1>
		<div class="photo-text2">
			<h4 class="text-center" id="photo-text">(新着順)</h4>
		</div>
	</div>
	<%= render 'index', photos: @photos %>
</div>
<%= paginate @photos %>