<body id="new">
    <h1 class="text-center">Photo投稿</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 b-login">
                <div class="b-login2">
                    <%= form_for(@photo) do |f| %>
                        <div class="form-group">
                           <%= f.label :image, '画像', class: "photo0" %>
                           <%= f.attachment_field :image, class: 'form-control input-lg' %>
                        </div>
                        <p class="text-center new2">
                            <%= f.submit '投稿する', class: "btn btn--blue btn--border-outset" %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>